.page {
  height: 100vh;
  background: #4C6E8E;

  .button {
    background-color: #38BAF8 !important;
  }

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(images/pattern_login.png) repeat;
    background-size: 25%;
    opacity: 0.1;
  }
}

.page-wrapper {
  position: absolute;
  width: 400px;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

.form {
  overflow: auto;
}

.form-inner {
  width: 360px;
  margin: auto auto 20px;
}

.logo {
  margin: 30px auto 10px;

  .logo-img {
    margin: 0 auto;
    background: url(images/logo.png) no-repeat center center;
    width: 210px;
    height: 72px;
  }
}

.error-message {
  margin: 20px 0;
  font-size: 12px;
  color: #f44336;
}
